AUTH_MODE=cloudflare-access
APP_ORIGIN=
CF_ACCESS_TEAM_DOMAIN=
CF_ACCESS_AUD=
TOKEN_ENCRYPTION_KEY=
SPOTIFY_CLIENT_ID=95d1d69009e846fe9b53bfedbfe91b8b
APPLE_MUSIC_DEVELOPER_TOKEN=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
